/vendor/
/.codelite/
/log/*.log
!/log/README.md
.DS_Store
._*
*.phprj
*.workspace
config/config.php
config/config.json
composer.lock
nap/functions/checkAuth.php
/nbproject/*
nbproject/*
data/*
.idea/
nap/Entity
config
