[system]
debug = true

[cors]
allowed-origin = *
allowed-methods = POST, OPTIONS
allowed-headers = X-Requested-With, Content-Type, Accept, Origin, AUTH

[db]
type = sleek

[sleek]
data_folder = %datadir% 
name = cv

[user]
actions = login,logout,update
auth = logout,update
cli = create


;module_action_parameter = REQUIRED
;module_action_parameter = DEFAULT_10
;module_action_parameter = DATETIME (format Y-m-d H:i:s)
;module_action_parameter = FILTER_SANITIZE
;module_action_parameter = FILTER_SANITIZE_INT
;module_action_parameter = FILTER_VALIDATE
;module_action_parameter = FILTER_VALIDATE_INT
;module_action_parameter = FILTER_VALIDATE_FLOAT
;module_action_parameter = FILTER_SANITIZE_INT|FILTER_VALIDATE_INT

[sanitize]
user_login_username = REQUIRED|FILTER_SANITIZE
user_login_password = REQUIRED|FILTER_SANITIZE