[system]
debug = true

[cors]
allowed-origin = *
allowed-methods = POST, OPTIONS
allowed-headers = X-Requested-With, Content-Type, Accept, Origin, AUTH

[db]
type = sleek

[sleek]
data_folder = data
name = cv

[user]
actions = login,logout,update
auth = logout,update
cli = create

[personalData]
actions = read,update
auth = read,update

[position]
actions = read,update
auth = read,update


;module_action_parameter = REQUIRED
;module_action_parameter = DEFAULT_10
;module_action_parameter = DATETIME (format Y-m-d H:i:s)
;Sanitize filters : https://www.php.net/manual/en/filter.filters.sanitize.php
;Validate Filters : https://www.php.net/manual/en/filter.filters.validate.php
;Sanitize before Validate: REQUIRED|FILTER_SANITIZE_NUMBER_INT|FILTER_VALIDATE_INT

[sanitize]
user_login_username = REQUIRED+FILTER_SANITIZE_STRING-FILTER_FLAG_STRIP_HIGH
user_login_password = REQUIRED+FILTER_SANITIZE_STRING